.chartContainer{
    background-color: #e9ecef;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container{
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
}